<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>messanger</title>
</head>
<body>
    <h1>Chat</h1>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br/>
    <% for( chat of chats){%>
        <div class="chat">
            <p>From : <%=chat.from%></p>
            <div class="msg">
                <p><%=chat.msg%></p>
                <form method="get" action="/chats/<%= chat._id %>/edit"> 
                    <button>Edit</button>
                </form>
                <br>
                <form method="post" action="/chats/<%= chat._id %>?_method=DELETE"> 
                    <button>Delete</button>
                </form>
                
            </div>
            <p>received By : <%=chat.to%></p>
            <p>Time : <%=chat.created_at.toString().split(" ")[4] %></p>
            <p>Date : <%=chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
            <hr/>
        </div>
        <br></br>  
    <%}%>
  

</body>
</html>